<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"   xmlns:sec="http://www.thymeleaf.org/extras/spring-security"

      th:replace="~{base-layout::layout(  ~{::section}  )}"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section th:fragment="section">

    <table class="table">
        <thead>
            <tr>
                <td>#</td>
                <td>제목</td>
                <td>작성자</td>
                <td>수정날짜</td>
            </tr>
        </thead>

        <tbody>
        <tr th:each="article : ${page.content}">
            <td th:text="${article.id}"></td>
            <td> <a th:href="@{/article/content (id=${article.id})}" th:text="${article.title}"></a></td>
            <td th:text="${article.name}"></td>
            <td th:text="${#temporals.format(article.updated,'yyyy-MM-dd HH:mm:ss')}"></td>
        </tr>
        </tbody>
    </table>

        <nav th:if="${!page.isEmpty()}">

            <ul th:with="start=${ (page.number div page.size)  * page.size }
            , last=${start + (page.size - 1) > (page.totalPages)-1 ?  (page.totalPages)-1 : start + (page.size - 1) }" class="pagination">

            <li class="page-item" th:classappend="${page.isFirst()} ? 'disabled'">
                <a class="page-link" th:href="@{/article/list(page=${(page.number)-1})}">&laquo;</a>
            </li>

            <li th:each="pageNumber : ${#numbers.sequence(start,last)}" class="page-item" th:classappend="${page.number==pageNumber}? 'active'">
                <a th:href="@{/article/list(page=${pageNumber})}" th:text="${pageNumber+1}" class="page-link"></a>
            </li>

                <li class="page-item" th:classappend="${page.isLast()} ? 'disabled'">
                    <a class="page-link" th:href="@{/article/list(page=${(page.number)+1})}">&raquo;</a>
                </li>

            </ul>

        </nav>

        <a th:href="@{/article/add}" sec:authorize="isAuthenticated()" class="btn btn-primary">글쓰기</a>



</section>

</body>
</html>
