name: hyechang-compose
services:
    nginx:
        image: nginx:latest
        ports:
                - "80:80"              
        volumes:
                - ./nginx.conf:/etc/nginx/nginx.conf:ro
        depends_on:
                - app
        restart: always
    app:
        image : hyechang2071148/spring-compose-image
        
        restart: always
        expose:
                - "8080"
        depends_on:
                - db
        environment:
                PROFILES: docker
                DB_HOSTNAME: db
                DB_PORT: 3306
                DB_NAME: mydb
                DB_USERNAME: hyechang
                DB_PASSWORD: password
                SPRING_SQL_INIT_MODE: never
                SPRING_SESSION_JDBC_INITIALIZE_SCHEMA: never
                
    db:
                image: mysql
                restart: always
                volumes:
                        - db-volume:/var/lib/mysql
                environment:
                        MYSQL_RANDOM_ROOT_PASSWORD: yes
                        MYSQL_DATABASE: mydb
                        MYSQL_USER: hyechang
                        MYSQL_PASSWORD: password
volumes:
        db-volume: